@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.doc {
  font-size: 1.3em;
  text-transform: capitalize;
  /* padding:  4% 0; */
}

.title {
  color: #999;
}

.story {
  font-size: 1.2em;
  font-weight: lighter;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
}

.fa-twitter {
  font-size: 4.5rem;
  color: gold;
}

.main__container {
  display: grid;
  grid-template: repeat(3, 1fr) 0.5fr/repeat(4, 1fr);
}

/* style iphone-6s starts */
.iphone-6s {
  grid-area: 1/1/2/3;
}

.iphone-6s__content {
  padding: 0 1%;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
}

.iphone-6s__information {
  padding: 20% 5%;
}

@media (max-width: 991px) {
  .iphone-6s__information {
    padding-left: 20%;
  }
}
.iphone-6s__title {
  font-size: 1.3em;
}

.iphone-6s__title::first-letter {
  text-transform: uppercase;
}

.iphone-6s__learn-more {
  padding: 4% 0;
}

.iphone-6s__image {
  padding: 4em 0 0;
  width: 13em;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  bottom: 0;
}

/* style iphone-6s ends */
/* style guidelines starts */
.guidelines {
  grid-area: 1/3/2/5;
}

.guidelines__content {
  background-color: #f7f8f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

@media (max-width: 991px) {
  .guidelines__content {
    padding: 6%;
  }
}
.guidelines__text {
  padding: 0 16%;
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
}

.guidelines__button {
  color: #5c5cd3;
  position: relative;
}

.guidelines__button::after {
  content: "";
  display: block;
  background-color: #5c5cd3;
  position: absolute;
  bottom: 0;
  height: 2px;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.guidelines__button:hover::after {
  transform: scale(1);
}

/* style guidelines ends */
/* style brand-new starts */
.brand-new {
  grid-area: 2/1/3/2;
}

.brand-new__content {
  background-color: #f05638;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: flex-end;
}

.brand-new__image {
  width: 18em;
  margin: 0 auto;
  /* position: relative;
  top: 10%; */
}

.brand-new__info {
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 0 12%;
}

.brand-new__button {
  color: yellow;
  transition: letter-spacing 0.5s linear;
}

.brand-new__button::after {
  content: " >";
}

.brand-new__button:hover {
  letter-spacing: 0.3em;
}

/* style brand-new starts */
/* style apple starts */
.apple {
  grid-area: 2/2/3/4;
}

.apple__content {
  display: flex;
  height: 100%;
  padding: 10% 5% 0;
  justify-content: space-between;
  word-wrap: wrap;
}

@media (max-width: 991px) {
  .apple__content {
    padding-top: 4%;
  }
}
.apple__imac {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.apple__title {
  text-transform: uppercase;
  align-self: flex-start;
}

.apple__doc {
  font-weight: 500;
  display: inline;
}

.apple__image {
  position: relative;
  width: 20em;
  left: -13em;
  z-index: -100;
  margin: 0 auto;
}

.apple__text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.apple__story {
  font-size: 1rem;
  line-height: 2em;
}

.apple__button {
  color: dodgerblue;
  transition: 0.5s word-spacing linear;
  font-size: 1rem;
}

.apple__button:hover {
  word-spacing: 0.3em;
}

.apple__button::after {
  content: " >";
}

/* style apple ends */
/* style icloud starts */
.icloud {
  grid-area: 2/4/4/5;
  background-color: #8f76bc;
  color: white;
  padding: 3% 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}

.icloud__meet {
  border-radius: 50%;
  width: 115%;
  height: 90%;
  padding: 1em;
  text-align: center;
  position: relative;
  left: -1em;
  background: #735f99;
}

.fas.fa-flag {
  color: gold;
  font-size: 1.2em;
}

.icloud__save {
  width: 10em;
  padding: 3% 0;
}

.icloud__information {
  padding: 3%;
}

.icloud__title {
  padding-bottom: 2%;
}

.icloud__popular {
  text-transform: uppercase;
}

.icloud__learn-more {
  padding-top: 5%;
  transition: opacity 0.5s linear;
}

.icloud__learn-more:hover {
  opacity: 0.5;
}

/* style icloud ends */
/* style games starts */
.games {
  grid-area: 3/1/4/2;
}

.games__content {
  background: #f7f8f9;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games__image {
  width: 10em;
  position: relative;
  left: -1.5em;
}

.games__title {
  padding: 0 6em;
  color: red;
  font-weight: 300;
}

.games__button {
  padding: 3% 0;
}

/* style games ends */
/* style experience starts */
.experience {
  grid-area: 3/2/4/4;
  background: #93b6b7;
  color: white;
}

.experience__content {
  height: 100%;
  width: 100%;
  padding: 3% 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience__choice {
  background-color: red;
  display: inline-block;
  align-self: flex-start;
  padding: 0.4em;
  font-size: 0.7rem;
  border-radius: 8px;
}

.experience__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0 30%;
}

.experience__container-image {
  background: url("../../images/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.experience__image {
  width: 25em;
  position: relative;
  left: -2em;
}

/* style experience ends */
/* style connect starts */
.connect {
  grid-area: 4/1/5/2;
  height: 100%;
  background: #38d5f4;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.connect__content {
  width: 90%;
  height: 130%;
  background: #35cfed;
  border-radius: 50%;
  text-align: center;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* style connect ends */
/* style much-better starts */
.much-better {
  grid-area: 4/2/5/3;
  padding: 3%;
  text-align: center;
}

.much-better__popular {
  font-size: 0.9rem;
  padding: 2%;
  display: inline-block;
  border-radius: 15px;
  background: greenyellow;
  color: white;
}

.much-better__text {
  padding: 5%;
}

/* style much-better ends */
/* style display starts */
.display {
  grid-area: 4/3/5/-1;
  background-color: #2c2c2c;
  color: white;
  display: flex;
  overflow: hidden;
}

.display__image {
  width: 15em;
  position: relative;
  left: -4em;
  top: -2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.display__text {
  width: 50%;
  font-size: 1rem;
}

/* style display ends */
@media (max-width: 991px) {
  .main__container {
    display: grid;
    grid-template: 0.5fr repeat(5, 0.65fr) 0.2fr 0.4fr/repeat(2, 1fr);
  }

  .iphone-6s {
    grid-area: 2/1/3/3;
  }

  .guidelines {
    grid-area: 1/1/2/-1;
  }

  .brand-new {
    grid-area: 3/1/4/2;
  }

  .games {
    grid-area: 3/2/4/3;
  }

  .apple {
    grid-area: 4/1/5/-1;
  }

  .connect {
    grid-area: 5/1/6/2;
  }

  .icloud {
    grid-area: 5/2/7/3;
  }

  .experience {
    grid-area: 6/1/7/2;
  }

  .much-better {
    grid-area: 7/1/8/-1;
  }

  .display {
    grid-area: 8/1/9/-1;
  }
}/*# sourceMappingURL=style.css.map */