@import "global";



.main__container {
  display: grid;
  grid-template: repeat(3, 1fr) .5fr / repeat(4,1fr);
}
/* style iphone-6s starts */
.iphone-6s
{
  grid-area: 1/1/2/3;
}
@import "./iphone-6s/__content";
@import "./iphone-6s/__information";
@import "./iphone-6s/__title";
@import "./iphone-6s/__learn-more";
@import "./iphone-6s/__image";

/* style iphone-6s ends */


/* style guidelines starts */
.guidelines
{
  grid-area:1/3/2/5;
}
@import"./guidelines/__content";
@import"./guidelines/__text";
@import"./guidelines/__button";


/* style guidelines ends */

/* style brand-new starts */
.brand-new
{
  grid-area: 2/1/3/2;
}
@import "./brand-new/__content";
@import "./brand-new/__image";
@import "./brand-new/__info";
@import "./brand-new/__button"
/* style brand-new starts */