.icloud__meet
{
    border-radius: 50%;
    width: 125%;
    height: 90%;
    padding: 1em;
    margin-bottom: .4em;
    text-align: center;
    position: relative;
    left: -2em;
    background: #735f99;
}

