.guidelines__content
{
    background-color: #f7f8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:1rem
};
@media(max-width:991px){
    .guidelines__content
    {
        padding: 6%;
    }
}
@media(max-width:768px){

}
@media(max-width:450px){

}
