.brand-new__button
{
    padding: 12% 0;
    color: yellow;
    transition: letter-spacing .5s linear;
}
.brand-new__button::after
{
    content: " >";
}
.brand-new__button:hover
{
    letter-spacing: .3em;
}
