.brand-new__content
{
    background-color: #f05638;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: flex-end;
}