.apple__content
{
    display: flex;
    height: 100%;
    padding: 10% 5% 0;
    justify-content: space-between;
    word-wrap:wrap;

}

@media(max-width:991px){
    .apple__content
    {
        padding-top: 4%;
    }
}
@media(max-width:768px){

}
@media(max-width:450px){

}